section {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
    justify-content: center;
    padding: 50px;
    min-height: 100vh;



}




body {
    min-height: 100vh;


}




body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: url("bilder/bakgrunn-3.jpg") center/cover no-repeat;
    z-index: -2;

    animation: kenburns-bak 10s ease-in-out infinite alternate;
}


body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: url("bilder/bakgrunn-3overlay.png") center/cover no-repeat;
    z-index: -1;

    animation: kenburns-foran 15s ease-in-out infinite alternate;
}


@keyframes kenburns-bak {
    from {
        transform: scale(1) translateY(0px);
    }

    to {
        transform: scale(1.07) translateY(-50px);
    }
}


@keyframes kenburns-foran {
    from {
        transform: scale(1) translateY(0);
    }

    to {
        transform: scale(1.02) translateY(-50px);
    }
}





.sak {

    border: 25px solid transparent;
    border-image-source: url(bilder/bakgrunn-techno.webp);
    border-image-slice: 1;
    border-image-repeat: round;


    transition: 0.3s ease-in;

    background-color: white;
    text-align: center;
    margin: 50px;

    box-shadow: 3px 3px 10px rgb(121, 18, 97);


}

.sak:hover {
    scale: 1.2;
    box-shadow: 20px 20px 50px rgb(255, 6, 197);
    filter: opacity(1);



}

.sak img {
    height: auto;
    object-fit: cover;
    object-position: top;
    object-position: left;

}

.sak1 {
    margin: 0;

}


.sak2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.sak3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#audio {
    background-color: white;
}

@media (width < 950px) {
    section {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }
}