section {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
    justify-content: center;
    padding: 50px;
    min-height: 100vh;





}

body {
    min-height: 100vh;




}





body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: url("bilder/bakgrunn-3.jpg") center/cover no-repeat;
    z-index: -2;

    animation: kenburns-bak 10s ease-in-out infinite alternate;

}


body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: url("bilder/bakgrunn-3overlay.png") center/cover no-repeat;
    z-index: -1;

    animation: kenburns-foran 15s ease-in-out infinite alternate;
}


@keyframes kenburns-bak {
    from {
        transform: scale(1) translateY(0px);
    }

    to {
        transform: scale(1.07) translateY(-50px);
    }
}


@keyframes kenburns-foran {
    from {
        transform: scale(1) translateY(0);
    }

    to {
        transform: scale(1.02) translateY(-50px);
    }
}






.sak {

    border: 15px solid transparent;
    border-image-source: url(bilder/bakgrunn-div.webp);

    border-image-slice: 1;
    border-image-repeat: round;



    height: auto;
    transition: 0.5s ease-out;


    background-color: rgb(31, 24, 56);

    margin: 50px;
    font-weight: bold;

    height: fit-content, auto;



    box-shadow: 3px 3px 10px rgb(121, 18, 97);
    font-size: 50px;
    color: rgb(255, 6, 197);

    overflow: hidden;

}

.sak a {
    text-decoration: none;
}

.sak p {
    margin: 15px;
    color: rgb(255, 6, 197);
}

.liten_p {
    font-size: 15px;
}



.sak:hover {
    scale: 1.2;
    

    text-decoration: underline;
    filter: brightness(1.1)
}

.sak img {
    height: auto;
    object-fit: cover;
    object-position: top;
    object-position: left;

}

.sak1 {
    margin: 0;
    font-size: 30px;

}

.sak2 {
    font-size: 40px;

}

.sak3 {
    grid-column-start: 1;
    grid-column-end: 4;
}


.bred2 {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;
    gap: 20px;


}


.bred3 {
    display: grid;
    grid-template-columns: 800px 300px; 
    justify-content: center;
    gap: 5px;
    grid-column: 1 / 4; 
}

.langSak {
    font-size: 40px;
}

.sideSak {
    font-size: 25px;
}


#audio {
    background-color: white;
}


@media (width < 950px) {
    section {

        grid-template-columns: 1fr;
        padding: 50px;
        justify-content: center;
    }

    .bred2 {
        grid-template-columns: 1fr;
    }




}