section {
  max-width: 1000px;
  margin: auto;
}

.topp h1 {
  margin-top: 90px;
  font-size: 50px;
}

.topp h2 {
  margin-top: 20px;
  font-size: 35px;
  margin-bottom: 20px;
}

.introbilde {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

p{
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5;
}
.journalistbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;



}
.journalister {
  border: 1px solid black;
  width: 100px;
  height: 70px;
  color: hotpink;
  font-weight: bold;
  padding: 5px;
}

.journalist {
  color: gray;
  font-size: smaller;
  font-weight: lighter;
  text-decoration: underline;
  
}

.infotekst {
  padding: 100px;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.track img {
  flex-shrink: 0;
  scroll-snap-align: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.45);
  color: white;
  border: none;
  padding: .6rem;
  cursor: pointer;
  border-radius: 6px;
}

.arrow.left {
  left: 8px;
}

.arrow.right {
  right: 8px;
}


.slide {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: center;
}

figcaption {
  margin-top: 6px;
  font-size: 0.9rem;
  color: #444;
}

.andresaker {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  gap: 20px;
  margin-bottom: 40px;
}

.saker {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;

}

.sakerimg {
  padding: 30px;
  border: 1px solid black;
}