.topp h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topp {
  margin-top: 70px;
}

.topp h2 {
  margin-bottom: 20px;
}

.infotekst h2 {
  margin-top: 100px;
  margin-bottom: 30px;
}

.tjukk {
  font-weight: bolder;
}

.margin {
  margin-top: 100px;
}

.infotekst p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5;

}

section {
  max-width: 1000px;
  margin: auto;
}

.introbilde {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.journalistbox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;

}

.journalister {
  width: 100px;
  height: 50px;
  color: hotpink;
  font-weight: bold;
  padding: 5px;
}

.journalist {
  color: gray;
  font-size: smaller;
  font-weight: lighter;
  text-decoration: underline;
}

.infotekst {
  padding: 100px;
}

.andresaker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  gap: 20px;
  margin-bottom: 40px;
  max-width: 1000px;
  width: 100%;
}

.saker {
  width: 100%;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.sakerimg {
  padding: 30px;
}

.andresaker p,
.andresaker h2 {
  padding: 10px;
}

.saker:hover {
    transform: scale(1.03);
    text-decoration: underline;
}

@media (width < 700px) {
  .andresaker {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 450px) {
  .andresaker {
    grid-template-columns: 1fr;
  }
}