<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
=======
>>>>>>> Stashed changes
@media (width<1100px) {
  .andresaker {
    grid-template-columns: repeat(2, 1fr);
  }
  .introbilde {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
<<<<<<< Updated upstream
=======
}

@media (width<700px) {
  .andresaker {
    grid-template-columns: 2fr;
    grid-auto-rows: auto;
  }
>>>>>>> Stashed changes
}

@media (width<700px) {
  .andresaker {
    grid-template-columns: 2fr;
    grid-auto-rows: auto;
  }
}
>>>>>>> Stashed changes

.topp h1 {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.topp {
  margin-top: 100px;
}

.topp h2 {
  margin-bottom: 20px;
}

.infotekst h2 {
  margin-top: 100px;
  margin-bottom: 30px;
}

.tjukk {
  font-weight: bolder;
}

.margin {
  margin-top: 100px;
}

.infotekst p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5;

}

section {
  max-width: 1000px;
  margin: auto;
}

.introbilde {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.journalistbox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;

}

.journalister {
  width: 100px;
  height: 50px;
  color: hotpink;
  font-weight: bold;
  padding: 5px;
}

.journalist {
  color: gray;
  font-size: smaller;
  font-weight: lighter;
  text-decoration: underline;
}

.infotekst {
  padding: 100px;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: auto;
  background-color: rgb(252, 177, 215);
  padding: 50px;
  margin-top: 20px;
}

.track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.45);
  color: white;
  border: none;
  padding: .6rem;
  cursor: pointer;
  border-radius: 6px;
}

.arrow.left {
  left: 8px;
}

.arrow.right {
  right: 8px;
}


.slide {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: center;
}

ul {
  display: block;
  padding-left: 20px;
}

ol {
  display: block;
  padding-left: 20px;
}

.slide p {
  margin-bottom: 10px;
}

.slide h2 {
  margin: auto;
}


figcaption {
  margin-top: 6px;
  font-size: 0.9rem;
  color: #444;
}

.andresaker {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  gap: 20px;
  margin-bottom: 40px;
  max-width: 1000px;
  width: 100%;
}

.saker {
  height: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
}

.sakerimg {
  padding: 30px;
}

.andresaker p,
.andresaker h2 {
  padding: 10px;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
}

@media (width < 700px) {
  .andresaker {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 450px) {
  .andresaker {
    grid-template-columns: 1fr;
  }
=======
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}