section {
    max-width: 1000px;
    margin: auto;
}

h1,
h2,
h3 {
    margin: 20px 0;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.introbilde {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.journalistbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.journalister {
    border: 1px solid black;
    width: 150px;
    height: 80px;
    color: hotpink;
    font-weight: bold;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.journalist {
    color: gray;
    font-size: smaller;
    font-weight: lighter;
    text-decoration: underline;
}

.infotekst {
    padding: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;

}

.carousel {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.track {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.track img {
    flex-shrink: 0;
    scroll-snap-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.45);
    color: white;
    border: none;
    padding: .6rem;
    cursor: pointer;
    border-radius: 6px;
}

.arrow.left {
    left: 8px;
}

.arrow.right {
    right: 8px;
}


.slide {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
}

figcaption {
    margin-top: 6px;
    font-size: 0.9rem;
    color: #444;
}

.andresaker {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    gap: 20px;
    margin-bottom: 40px;
}

.saker {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid black;
    text-decoration: none;
    color: black;

}

.sakerimg {
    height: 40%;
    object-fit: cover;
    border: 1px solid black;
}

.midtbilde {
    margin: 40px 0;
}

.andresaker p,
.andresaker h2 {
  padding: 10px;
}

@media (width < 1020px) {
    

    .andresaker {
        grid-template-columns: 1fr;
        width: 50%;
    }


}

@media (width < 600px) {
    .introbilde {
        grid-template-columns: 1fr;
    }

    .journalistbox {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .infotekst {
        padding: 20px;
    }

    .andresaker {
        width: 100%;
    }
}

@media (width < 450px) {
    h1 {
        font-size: 40px;
    }

    .saker {
        height: auto;
    }
}