header {
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(255, 6, 197);
    box-shadow: 0 0 25px rgb(255, 6, 197);
}

.bildelogo img {
    object-fit: cover;
    overflow: hidden;
    height: 90px;
    margin-left: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;

}

nav a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
    transition: 0.35s ease-in-out;
}

nav a:hover {
    background-color: rgb(255, 6, 197);
    filter: brightness(1.2);
    color: black;


}

@media (width<580px) {
    nav a {
        font-size: 13px;
    }

    .bildelogo img {
        margin-left: 30px;
    }
}

@media(width<430px) {

    .bildelogo img {

        margin-left: 5px;
        align-items: center;
    }

    nav {
        width: 80%;
    }

    nav a {
        font-size: 10px;
    }

}