.topp{
    height: 50vh;
    font-size: 100px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    background-color: rgb(21, 21, 63);
}

.info{
    background-color: white;
    color: rgb(21, 21, 63);
    height: 100%px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 200px;
}

.info h1{
    font-size: 60px;
    margin-bottom: 50px;
    justify-content: flex-start;

}

.info p{

    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.carousel {
  position: relative;
  max-width: 800px;
  margin: auto;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.track img {
  flex-shrink: 0;
  scroll-snap-align: center;

  width: 100%;
  height: 450px; 
  object-fit: cover; 
  display: block; 
}


.arrow{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background: rgba(0,0,0,0.45);
  color:white;
  border:none;
  padding:.6rem;
  cursor:pointer;
  border-radius:6px;
}

.arrow.left{ left:8px; }
.arrow.right{ right:8px; }


.slide {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: center;
}

figcaption {
  margin-top: 8px;
  font-size: 30px;
  color: #444;
  text-align: center;
}


