section {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 20px;
}

body {
    background: linear-gradient(to bottom,
            #03f830 0%,
            #eb07aa 50%,
            #feb705 100%);
    min-height: 100vh;
}

.sak {
    border: 10px black solid;
    background-color: white;

}


@media (width < 650px) {
    section {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }
}