section {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 20px;


}

body {
    background: linear-gradient(to bottom,
            rgb(3, 248, 48) 0%,
            #eb07aa 50%,
            #feb705 100%);
    min-height: 100vh;
}

.sak {
    border: 10px black solid;

}