.topp{
    height: 60vh;
    background-color: rgb(21, 21, 63);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.topp img{
    width: 600px;
    margin-right: 100px;
}

.topp h1{
    color: white;
    font-size: 70px;
    margin-left: 100px;
    margin-bottom: 30px;
    
}

.overts{
    display: flex;
    flex-direction: column;

}

.overst p{
    color: white;
    margin-left: 100px;
    font-size: 20px;
}

.info{
    background-color: white;
    height: 1000px;
    color: rgb(21, 21, 63);
}

.info{

}