.topp {
    height: 50vh;
    font-size: 100px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    background-color: rgb(21, 21, 63);
}

.info {
    background-color: white;
    color: rgb(21, 21, 63);
    height: 100%px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 200px;
}

.info h1 {
    font-size: 60px;
    margin-bottom: 50px;
    justify-content: flex-start;

}

.info p {

    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 150px;
    margin-top: 20px;

}

.rundt {
    height: 1000px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-bottom: 200px;
    margin-top: 80px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
 

}

.stor {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;



}

.liten {
    overflow: hidden;

    border-radius: 40px;

}

.container.reverse {
    grid-template-columns: 2fr 3fr;

}

img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

@media (width<1000px){
    .topp{
        font-size: 80px;
    }

    .container, 
    .container.reverse{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    h1{
        font-size: 40px;
    }
}

@media (width<780px){
    .liten{
        width: 100%;

    }

    .stor{
        font-size: 30px;
    }

    .topp{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        width: 300px;
    }

    .info{
        margin-right: 70px;
        margin-left: 70px;
    }
}

@media (width<570px){
    .stor{
        font-size: 15px;
    }

    .rundt{
        display: flex;
        justify-content: center;
        align-items: center;
       
       
    }

    .info{
        margin-left: 50px;
        margin-right: 50px;
    }

    .info p{
        font-size: 20px;
    }

    .topp{
        font-size: 40px;
    }
}