.topp{
    height: 50vh;
    font-size: 100px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    background-color: rgb(21, 21, 63);
}

.info{
    background-color: white;
    color: rgb(21, 21, 63);
    height: 100%px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 200px;
}

.info h1{
    font-size: 60px;
    margin-bottom: 50px;
    justify-content: flex-start;

}

.info p{

    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 80px;
    margin-top: 50px;
}