.overst{
    height: 100vh;
    background-image: url(../bilder/logo.png);
    background-position: center;
    border-bottom: 3px solid rgb(160, 43, 160);
}

.info{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
  


}

h1{
    font-size: 60px;
    letter-spacing: 2px;
    margin: 50px;
    text-shadow: 0 0 25px rgb(255, 0, 166);

}

.info p{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-left: 100px;
    margin-right: 100px;
    text-shadow: 0 0 15px rgb(255, 0, 166);
}
.liste{
    height: 90vh;
    display: flex;

}
.punkter{
    display: flex;
    flex-direction: column;
    align-items: start;
}
h2{
    font-size: 60px;
    letter-spacing: 3px;
    align-self: flex-start;
    margin-left: 100px;
    margin-top: 100px;
    text-shadow: 0 0 25px aqua;
    margin-bottom: 50px;
 
}

ul{
    align-self: flex-start;
    margin-left: 120px;
    margin-top:   10px;
    font-size: 20px;
    
}

li{
    margin: 20px;
    text-shadow: 0 0 15px aqua;
    font-size: 40px;
}



