.overst {
    height: 100vh;
    background-image: url(../bilder/logo.png);
    background-position: center;
    border-bottom: 3px solid rgb(160, 43, 160);
}

.info {
    height: fit-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;





}

h1 {
    font-size: 60px;
    letter-spacing: 2px;
    margin: 50px;
    text-shadow: 0 0 25px rgb(255, 0, 166);
    margin-left: 100px;

}

.bulker {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
    margin-left: 100px;



}

.rundt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    margin-bottom: 150px;
}

.bilde {
    max-width: 50%;
    margin-right: 200px;
    box-shadow: 0 0 80px rgba(180, 0, 255, 0.9);
    border-radius: 20px;

}

img{
    border-radius: 20px;
}

.kul {
    border-left: 5px solid rgb(160, 43, 160);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    min-width: 250px;
    color: black;
    padding: 20px;
    font-size: 20px;


}

.info p {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-left: 100px;
    margin-right: 100px;
    text-shadow: 0 0 15px rgb(255, 0, 166);
    margin-top: 20px;
    margin-bottom: 20px;
}





h2 {
    font-size: 60px;
    letter-spacing: 3px;
    align-self: flex-start;
    margin-left: 100px;
    margin-top: 100px;
    text-shadow: 0 0 25px aqua;
    margin-bottom: 50px;

}

ul {
    align-self: flex-start;
    margin-left: 120px;
    margin-top: 10px;
    font-size: 20px;

}

li {
    margin: 20px;
    text-shadow: 0 0 15px aqua;
    font-size: 40px;
}

@media (width<1200px){
    .rundt{
        flex-direction: column;
        justify-content: flex-start;
    }

    .bilde{
        margin: auto;
    }
}