@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
video {
    width: 100%;
    display: block;
}

body {
    font-family: "Inter", sans-serif;
}

.saker {
    transition: 0.5s ease-in-out;
    box-shadow: 1px 1px 5px rgb(255, 6, 197);


}

.saker:hover {
    scale: 1.1;
}

.saker h2 :hover {
    text-decoration: underline;
}